<app-nav></app-nav>
<app-lookup></app-lookup>
<router-outlet></router-outlet>
















<!--<p>Model: {{ x.model }}</p>-->
<!--<p>Manufacturer: {{x.manufacturer}}-->
<!--<p>cost_in_credits: {{x.cost_in_credits}}-->
<!--<p>length: {{x.length}}-->
<!--<p>max_atmosphering_speed: {{x.max_atmosphering_speed}}-->
<!--<p>crew: {{x.crew}}-->
<!--<p>cargo_capacity: {{x.cargo_capacity}}-->
<!--<p>consumables: {{x.consumables}}-->
<!--<p>hyperdrive_rating: {{x.hyperdrive_rating}}-->
<!--<p>MGLT: {{x.MGLT}}-->
<!--<p>starship_class: {{x.starship_class}}-->
<!--<p>pilots: {{x.pilots}}-->
<!--<p>films: {{x.films}}-->
<!--<p>created: {{x.created}}-->
<!--<p>edited: {{x.edited}}-->
<!--<p>url: {{x.url}}-->
<!--<br>-->
<!--<br>-->