
<div class="gridContainer" id="test123" onscroll="wpService.scroll()">

<div class="gridItem1" >
  <input [(ngModel)]="wpService.search">
  <button (click)="wpService.getData()">test</button>
  
<h3>Click to display Data</h3>
</div>

<div class="gridItem2">
 <button (click)="wpService.scroll()">test2</button>
</div>

<div class="gridItem3">
  <h3 >test</h3>
</div>


</div>


<!--<div *ngIf="wpService.results">-->

<!--<h4>Number: {{ wpService.results.phone_number }}</h4>-->


<!--<div *ngFor="let x of wpService.results.associated_people">-->

<!--  <h5>-->
<!--  Full Name: {{ x.name }}-->
<!--  </h5>-->
<!--  <p>-->
<!--  First: {{ x.firstname }}-->
<!--  <br>-->
<!--  Middle: {{ x.middlename }}-->
<!--  <br>-->
<!--  Last: {{ x.lastname }}-->
<!--  </p>-->
<!--  <hr>-->
<!--</div>-->
<!--</div>-->
<!--<div *ngFor="let x of wpService.results['results']">-->

<!--<p>Name: {{ wpService.results[0] }}</p>-->



<!--</div>-->