<div class="navBar">
	<div class="logo">
		<img id="logo" src="https://www.whitepages.com/assets/wp-icons-svg/wp-logo-ccb6919ae97f548e92a6b2b03e923a7894bf384f5a27fe43e92e29763e5bab00.svg">
	</div> 
 
    
	<a id="item1" href="/test">Person</a>
	<a id="item2" href="/test">Phone</a>
	<a id="item3" href="/test">Reverse Address</a>
	<a id="item4" href="/test">Business</a>
	<input id="inputbox">
	
	<div class="buttons">
		<a id="login">Log in</a>
		<a id="signup">Sign up</a>
	</div>
	
</div>



<div class="footer">
	<a>footer</a>
	
</div>






<!--<div class="navBar" id='navBar'>-->
    
<!--<a class="brand">-->
<!--</a>    -->

<!--<div>-->
<!--<ul class="topRow">-->
<!--  <li><a href="#Person">Person</a></li>-->
<!--  <li><a href="#Phone">Phone</a></li>-->
<!--  <li><a href="#Reverse">Reverse Address</a></li>    -->
<!--  <li><a href="#Business">Business</a></li>-->
  
<!--  <input type="tel" name="full_phone" id="full_phone" value="" autocomplete="off" autocorrect="off" spellcheck="false" data-required="Phone number (Required)" data-gaevent="search_box" data-gaaction="phone" data-galabel="focus" placeholder="e.g. 206-867-5309" class="inputbox">-->
<!--</ul>-->


<!--</div>-->

    
<!--</div>-->